.light{
    color: white;
}

.darkMode-icon{
    z-index: 3;
    cursor: pointer;
    position: absolute;

    position: fixed;
    bottom: 30px;
    right: 30px;

    width: 70px;
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-moon, .fas{
    color: white;
    font-size: 1.9em;
    
}   

.darkMode-bg{
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 70px;
    height: 70px;

    background-color: black;
    border-radius: 50%;
    transform: scale(1);
    transition: 1s ease;

    box-shadow: 1px 1px 36px 2px rgba(0,0,0,0.20);
}

.darkMode-bg-active{
    transform: scale(70);
    transition: 1s ease;
    z-index: 0;
}
