.title{
    margin-top: 55px;
    font-size: 55px;
    line-height: 1em;
}

.sub-title{
    margin-top: 35px;
    font-size: 25px;
    transition: 0.2s;
}

.introduction{
    margin-top: 35px;
    text-align: justify;
}

.emoji-container{
    margin-top: 35px;

    img{
        width: 40px;
        height: auto;
        margin-right: 30px;
    }
}