@media (min-width: 483px) {
    main{
        width: 490px;
    }
    .title{
        font-size: 80px;
    }

    .skill-list{
        justify-content: space-between;
    }
    .link-list{
        justify-content: space-between;
    }
}

@media (min-width: 750px) {
    main{
        width: 700px;
    }

    .title{
        margin-top: 80px;
        font-size: 120px;
    }

    .sub-title{
        font-size: 35px;
    }

    .introduction{
        margin-top: 50px !important;
        font-size: 25px;
    }

    .emoji-container{
        margin-top: 80px !important;
    
        img{
            width: 60px;
            margin-right: 50px;
        }
    }

    .section-title{
        margin-top: 80px !important;
        font-size: 35px;
    }

    .skill-list{
        font-size: 25px;
    }

    .link-list{
        font-size: 25px;
    }

    .contact-button{
        margin-top: 80px !important;
        margin-bottom: 80px;
        font-size: 25px;
    }
}

@media (min-width: 1115px) {

    .darkMode-icon{      
        position: fixed;
        bottom: 60px;
        right: 60px;

        width: 80px;
        height: 80px;
    }

    .darkMode-bg{
        bottom: 60px;
        right: 60px;
        width: 80px;
        height: 80px;
    }

}
