.skill-list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;

    .skill-list-item{
        padding: 10px;
    }

    li:hover {
        color: rgb(102, 102, 102);
        cursor: default;  
        background: -webkit-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
        background: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
        animation: textAnimate 300s linear infinite ;
    
    
    @keyframes textAnimate {
      from {
        filter: hue-rotate(0deg);
        background-position-x: 0%;
        
      }
      to {
        filter: hue-rotate(360deg);
        background-position-x: 600vw;
        
      }
    }
    }
}

